<%= erb :roulette, layout: false %>

<div class="payment">
  <form action='/pay' method='post'>
    <input type="submit" value="Buy!" class='btn btn-primary btn-lg pull-right'>
  </form>
</div>

<!-- TODO: Initialize the form  -->
